body {
    background-color: black;
    color: aqua;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: aqua;
    color: black;
}

.navbar a:hover {
    background-color: black;
    color: aqua;
}

.card {
    color: black;
}

.list-group-item {
    background-color: aqua;
}

.contact-link {
    color: black;
}

.contact-link:hover {
    text-decoration: underline;
}
