body {
    background-color: black;
    color: aqua;
    overflow-x: hidden;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: aqua;
    color: black;
}

.navbar a:hover {
    background-color: black;
    color: aqua;
}

.card {
    color: black;
}

.card:hover {
    box-shadow: 0 0 25px 5px aqua;
    background-color: aqua;
}

.btn {
    background-color: black;
    color: aqua;
}

.btn:hover {
    background-color: aqua;
    color: black;
}

.list-group-item {
    background-color: aqua;
}

.contact-link {
    color: black;
}

.contact-link:hover {
    text-decoration: underline;
}

#resume-button {
    background-color: aqua;
    color: black;
    font-weight: bold;
}

#resume-button:hover {
    background-color: black;
    color: aqua;
    box-shadow: 0 0 25px 5px aqua;
}
