body {
    background-color: black;
    color: aqua;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: aqua;
    color: black;
}

.card {
    color: black;
}

#contact-link{
    color: aqua;
}
